target
tags
.eclipse_workspace
.classpath
.project
.settings
.DS_Store
.idea
*.iml
.*.swp
*.tokens
.m2/repository
api/src/main/kotlin/com/noumenadigital/npl/
*.log
docker-compose.latest*.yml
docker-compose.staging*.yml
docker-compose.prod*.yml
venv
docker-compose.dev.yml
docker-compose.local.yml
run-local.sh
dependency-reduced-pom.xml
/versions.yml
